mixin services(name, id)
    figcaption(id=id)
        .circle(id=`${id}circle`)
            img(src=figure[name].src, alt=figure[name].alt)
        h2(id=`${id}H2`) #{figure[name].header}
        p #{figure[name].desc}

mixin people(name)
    figcaption
        img(src=people[name].src, alt=people[name].alt)
        h2 #{people[name].name}
        p #{people[name].header}

mixin works(name)
    figcaption
        img(src=works[name].src, alt=works[name].alt)
        .hover 
            h2 Hair Dresser
            p Branding
            a(href="#") View
mixin blog(name, id)
    figcaption 
        .img 
            img(src=blog[name].src, alt=blog[name].alt)
        .first-header 
            .date-header
                .date 
                    h2 #{blog[name].date}
                .desc 
                    a(href="#")  #{blog[name].header}
                    p 
                        em
                            | by 
                            a(href="#" id="descHyper")  #{blog[name].authorFirstName}
                            |  #{blog[name].authorName}  in 
                            a(href="#" id="descHyper")  Development  
            p #{blog[name].desc}
            a(href="#")#readMore Read more